<i class="fa fa-angle-down fa-2x animated"></i>


<div class="row">
  <div class="column">
    <div class="container">
      <a href="/seaice/"><img src="/images/buoys.gif" width="500" height="600"></a>
      <a href="/seaice/"><div class="proj-title">Off the grid</div></a>
      <div class="proj-subtitle">Simulating stations and drifting buoys from gridded climate data for multimodal sea-ice forecasting</div>
    </div>
  </div>
  <div class="column">
    <div class="container">
      <a href="/suicide-discourse/"><img src="/images/suicide_thumbnail.gif" width="500" height="600"></a>
      <a href="/suicide-discourse/"><div class="proj-title">Self-murder or disorder?</div></a>
      <div class="proj-subtitle">Detecting shifts in suicide discourse in 19th-century British news</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="container">
      <a href="/massparallelbibles/"><img src="/images/massparall.gif" width="500" height="600"></a>
      <a href="/massparallelbibles/"><div class="proj-title">Parallel Bibles</div></a>
      <div class="proj-subtitle">Mapping temporal subordination in 1400+ languages</div>
    </div>
  </div>
  <div class="column">
    <div class="container">
      <a href="/machinesinthemedia/"><img src="/images/machine.gif" width="500" height="600"></a>
      <a href="/machinesinthemedia/"><div class="proj-title">Changing machines in the Victorian Press</div></a>
      <div class="proj-subtitle">Semantic change in the age of mechanization</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="container">
      <a href="/premodslavparsing/"><img src="/images/oldslavnet.gif" width="500" height="600"></a>
      <a href="/premodslavparsing/"><div class="proj-title">Variety-agnostic dependency parsing for Early Slavic</div></a>
      <div class="proj-subtitle">Building generic pre-modern Slavic dependency taggers</div>
    </div>
  </div>
  <div class="column">
    <div class="container">
      <a href="/agwemb/"><img src="/images/supergrc.gif" width="500" height="600"></a>
      <a href="/agwemb/"><div class="proj-title">Ancient Greek graph-based syntactic embeddings</div></a>
      <div class="proj-subtitle">Syntactic word representations for Ancient Greek</div>
    </div>
  </div>
</div><br/>